/* Body */

body {
    margin: 0;
    padding: 0;
    font-family: 'Geologica', sans-serif;
    background-color: #0a0a0a;
    color: #ffffff
}

.navbar {
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
}

#Logo {
    height: 15vh;
    margin-right: 3vh;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}

.nav-links li {
    letter-spacing: 0.3vh;
    margin-right: 5vh;
}
.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #2291F6;
}


.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #2291F6;
    margin: 8px;
    transition: 0.3s;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

@media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: rgba(0, 0, 0, 0.5);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-links.active {
        transform: translateX(0);
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(45deg) translate(-5px, -7px);

}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

main {
    margin: 0 5vh 3vh;
}

.about-title {
    color: #2291F6;
    text-align: center;
    font-size: 3em;
    margin: 1em 0 1em 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: slideIn 1s forwards ease; 
}

#about-text {
    text-align: center;
    margin-bottom: 10vh;
}

.mission-vision-values {
    color: #2291F6;
    text-align: center;
    font-size: 2em;
    margin: 3vh 0 3vh 0;
}

.mvv-text {
    text-align: center;
}

@keyframes slideIn {
    from {
        margin-top: 50vh;
        opacity: 0;
    }
    to {
        margin-top: 1em;
        opacity: 1;
    }
}