/* Content-Wrapper */

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Footer */

footer {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links li a:hover {
    color: #2291F6;
}

.github-logo img {
    height: 6vh;
}