/* Body */


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #020202;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
}

#Logo {
    height: 15vh;
    margin-right: 3vh;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}

.nav-links li {
    letter-spacing: 3px;
    margin-right: 32px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #2291F6;
}

/* Main */

.main {
    flex: 1;
}